/* Color Theme Swatches in Hex */
/*.Old-paper-vintage-texture-background-1-hex { color: #F2CEA2; }
.Old-paper-vintage-texture-background-3-hex { color: #734C29; }
.Old-paper-vintage-texture-background-5-hex { color: #D9AB82; }   
.princiapl {color:#140000}
.destaque { color: #402915; }
.background { color: #A67449; }*/

html {
    background: #A67449;
    color: #140000;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;

}

header {
    background: #734C29;
    color: #F2CEA2;
}

header>h1 {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}

header>h2 {
    display: inline-block;
}

.intro {
    height: 550px;
}

ul {
    list-style-type: none;
}

li {
    margin: 1em;
    text-align: center;
}

p {
    text-indent: 1em;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

.summary {
    text-align: center;
}

.mainsupporting {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

#design-archives {
    display: none;
}

.explanation {
    width: 60%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
}

#design-selection {
    position: absolute;
    width: 40%;
    top: 560px;
    left: 62%;
    padding-left: 1%;
    padding-right: 1%;
}

.page-wrapper {
    position: relative;
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

footer {
    margin: 4%;
}

footer a {
    border: solid 2px #000000;
    padding: 0.5em;
}
