/* Color Theme Swatches in Hex */
/*.Old-paper-vintage-texture-background-1-hex { color: #F2CEA2; }
.Old-paper-vintage-texture-background-3-hex { color: #734C29; }
.Old-paper-vintage-texture-background-5-hex { color: #D9AB82; }   
.princiapl {color:#140000}
.destaque { color: #402915; }
.background { color: #A67449; }*/

html {
    background:#A67449 ;
    color:#140000 ;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
}

p {    
    text-indent: 1em;
}
h1 {
    font-size: 1.8rem ;
    text-align:center; 
}
h2 {
    font-size: 1.4rem;
    text-align:center; 
}
h3 {
    font-size: 1.2rem;
    text-align:center; 
}
.summary{
    text-align:center;
}
.mainsupporting {
    line-height: 1.5;
}
abbr {
    font-variant:small-caps;
}
